body{
font-family:Arial;
}
.screen{
	margin: 0px auto;
	width: 900px;
	height: 500px;
	background-size: 1098px 750;
	background-position: center;
	background: url("../img/desk.jpg") 0 -95px no-repeat;
}
.clicked{
	cursor:normal;
}
.row{
	width:100%;
	margin-top: -2px;
	margin-bottom: -2px;
}
.box{
	background:transparent;
	padding:50px;
	margin: 3px 1px;
	float:left;
	width:50px;
	cursor:pointer;
}
.clear{
	clear:both;
}
.jogo{
	margin: 0px auto;
	width: 480px;
	transform: rotate(-12deg);
	-ms-transform: rotate(-12deg); /* IE 9 */
    -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
	padding-top: 107px;
	padding-right: 112px;
}
.vertical{
	height:106px;
	background:rgb(164, 32, 29);
	float:left;
	border-radius: 5px;
	width: 6px;
}
.horizontal{
	height:6px;
	background:rgb(164, 32, 29);
	border-radius: 20px;
	width: 98%;
}
.circle.winner{
	background: url('../img/circle_winner.png');
}
.cross.winner{
	background: url('../img/cross_winner.png');
}
.circle{
	background: url('../img/circle.png');
	background-size: 105px !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}
.cross{
	background: url('../img/cross.png');
	background-size: 105px !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}
.play-again{
	display: none;
	color:white;
	background:green;
	padding:4px;
	width:140px;
	text-align: center;
	border-radius: 5px;
	float: right;
	margin-right: 180px;
	margin-top: 14px;
	transform: rotate(-12deg);
	-ms-transform: rotate(-12deg); /* IE 9 */
    -webkit-transform: rotate(-12deg); /* Chrome, Safari, Opera */
    cursor: pointer;
}

.placar{
width: 900px;
height: 200px;
background:url('../img/board.jpg');
margin: 0px auto;
color:white;
}
.placar-title{
width:890px;
padding:5px;
background:rgba(0,0,0,0.5);
}
.cross-placar{
float:left;
padding:10px 10px 0px 10px;
width:45%;
height: 162px;
border-right:2px solid black;
}
.circle-placar{
float:left;
padding:10px 10px 0px 10px;
height: 162px;
width:45%;
}